<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Technologien</h5>
                <div class="chip">
                    <img src="~/images/html5.jpg" />
                    <a href="https://www.w3.org/TR/html5/" target="_blank">HTML 5</a>
                </div>
                <div class="chip">
                    <img src="~/images/materialize.jpg" />
                    <a href="http://materializecss.com/" target="_blank">MaterializeCSS</a>
                </div>
                @*<div class="chip">
                    <img src="~/images/vuejs-logo.png" />
                    <a href="https://vuejs.org/" target="_blank">Vue.js</a>
                </div>*@
                @*<div class="chip">
                    <img src="~/images/moment.jpg" />
                    <a href="https://momentjs.com/" target="_blank">Moment.js</a>
                </div>*@
                <div class="chip">
                    <img src="~/images/visual-studio.jpg" />
                    <a href="http://www.asp.net/mvc" target="_blank">ASP.NET Core</a>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul class="footer-links">

                    <li>
                        <div class="valign-wrapper">
                            <a href="https://www.xing.com/communities/groups/mittelstand-4-punkt-0-kompetenzzentrum-chemnitz-3b64-1086024?sc_o=events_group_link" target="_blank">
                                <i class="mdi mdi-xing left"></i>
                            </a>
                            Xing - Mittelstand 4.0 Kompetenzzentrum Chemnitz
                        </div>
                    </li>
                    <li>
                        <div class="valign-wrapper">
                            <a href="https://github.com/adriansinger87/IOTConnect" target="_blank">
                                <i class="mdi mdi-github-circle left"></i>
                            </a>
                            GitHub - Projekt
                        </div>
                    </li>
                    <li>
                        <div class="valign-wrapper">
                            <a href="http://betrieb-machen.de/" target="_blank"><i class="mdi mdi-web left"></i></a>
                            Webseite
                        </div>
                    </li>
                    <li>
                        <div class="valign-wrapper">
                            <a href="mailto:adriansinger87@gmail.com?subject=IOTConnect"><i class="mdi mdi-gmail left"></i></a>
                            Email Autor
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            @ViewBag.AppTitle © 2019 <a class="grey-text text-lighten-4 right" href="http://www.iwu.fraunhofer.de/">Fraunhofer IWU</a>
        </div>
    </div>
</footer>