
/* BEGIN Materialize CSS overrides */

i {
    font-size: x-large;
}

.page-footer {
    background-color: #455a64;
}

    .page-footer .footer-copyright {
        color: rgba(255,255,255,0.7);
        background-color: rgba(0,0,0,0.1);
    }

.footer-links > li > div a > i {
    color: white;
}

.chip {
    background-color: rgba(0, 0, 0, 0.20);
}

    .chip > a {
        color: rgba(255,255,255,0.7);
    }

/* END Materialize CSS overrides */

.separator {
    min-height: 1px !important;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
}

.site-logo {
    width: 40px;
    vertical-align: sub;
    margin-right: 20px;
}