@{
    ViewData["Title"] = "Home";
}
@* TODO @ ap conntection to the js-files should be done by the manager*@
@section Scripts {
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script src="~/js/_home.js"></script>
}
<link href="~/lib/c3/c3.min.css" rel="stylesheet">

<h1>Hello World</h1>

<div id="app-vue" v-load>

    <div v-if="devices" class="row">
        <div v-for="dev in devices" class="col s12 m12 l6">
            <span>{{ dev }}</span>
        </div>
    </div>
    <div v-if="devices == null">
        <h3 align="center" class="orange-text text-accent-2">keine Geräte geladen</h3>
    </div>

</div>

<div id="app-vue2" v-load>
        <div id="chart"></div>
</div>
