@{
    ViewData["Title"] = "Home";
}
@* TODO @ ap conntection to the js-files should be done by the manager*@
@section Scripts {
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script src="~/js/_home.js"></script>
}
<link href="~/lib/c3/c3.min.css" rel="stylesheet">

<h3>Dashboard</h3>
<div id="app-vue" v-load>
    <select v-if="devices" class="browser-default" id="selection">
        <option value="" disabled selected>Choose an device</option>
        <option v-for="dev in devices">{{ dev }}</option>
    </select>
    <div v-if="devices == null">
        <h3 align="center" class="orange-text text-accent-2">keine Geräte geladen</h3>
    </div>

</div>

<div id="chart"></div>

